.root{
    width: 450px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.mat-card-content{
    padding: 5px;
}

.text{
    border: 1px inset rgba(200, 200, 200, 0.3);
    border-radius: 5px;
    padding: 2%;
    margin-top: 2%;
    margin-bottom: 5%;
    overflow-wrap: break-word;
    overflow-y: auto;
}