button:focus{
    border: 0 !important;
    outline: 0 !important;
}

.mat-form-field{
    display: block !important;
}

input[type="file"]{
    display: none;
}

textarea{
    height: 100px;
}

.disabled{
    pointer-events: none;
    opacity: 0.3;
}
