@import "./theme";

html, body{
    height: 100%;
}    

body{
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: $background-primary !important;
    background-image: url('../assets/background.png');
}

h1, h2, h3, h4, h5, h6{
    text-align: center;
}

