<mat-toolbar color="primary" class="mat-elevation-z24">
    <span>
        <button
        *ngIf="route==='ad-list'"
        mat-button
        (click)="toggleList()">
            {{adService.myProducts ? 'All Products' : 'My Products'}}
        </button>
        <button
        *ngIf="route==='ad-list'"
        mat-button
        (click)="create()">
            Add Advertisement
        </button>
    </span>
    <span class="more">
        <button 
        *ngIf="route==='login'"
        mat-button
        [routerLink]="'/register'">
            <mat-icon>person_add</mat-icon>Registration
        </button>   
        <button 
        *ngIf="route==='register'"
        mat-button
        [routerLink]="'/login'">
            <mat-icon>login</mat-icon>Login
        </button>   
        <form *ngIf="route==='ad-list'" (ngSubmit)="adService.announceSearchData(search.value)">
            <input
            [classList]="'form-control'"
            matInput 
            autocomplete="off"
            placeholder="Search..."
            [formControl]="search">    
        </form>
        <button *ngIf="route==='ad-list' || route==='profile' || onPage" mat-icon-button [matMenuTriggerFor]="more">
            <mat-icon matTooltip="more">more_vert</mat-icon>
        </button>
        <mat-menu #more="matMenu">
            <button *ngIf="route !== 'profile'" mat-menu-item (click)="openProfile()">
                <mat-icon>person_outline</mat-icon>
                <span>Profile</span>
            </button>
            <button mat-menu-item (click)="signOut()">
                <mat-icon>logout</mat-icon>
                <span>Sign out</span>
            </button>
        </mat-menu>
    </span>
</mat-toolbar>
